@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.app {
    a {
        text-decoration: none;
        color: black;
    }
}

.header-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;

    .logo {
        max-height: 100px;
    }

    .nav-items>ul {
        display: flex;
        font-size: 20px;
    }

    .nav-items>ul>li {
        cursor: pointer;
        list-style: none;
        margin: 10px 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .loginBtn {
        padding: 0 10px;
        margin: 0 20px;
    }
}

.body-component {
    .btn {
        padding: 10px;
    }

    .search-container {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;

        >input {
            width: 94%;
            padding: 10px;
            border: 1px solid lightgray;
        }
    }

    .restaurants-container,
    .shimmer-container {
        display: flex;
        flex-wrap: wrap;

        .shimmer-card {
            background-color: lightgray;
            width: 250px;
            height: 350px;
            margin: 5px 20px;
            border-radius: 5%;
        }

        .restaurant-card {
            width: 250px;
            border: 1px solid lightgray;
            border-radius: 5%;
            padding: 5px;
            margin: 5px 20px;
            background-color: antiquewhite;

            .res-image {
                width: 100%;
                border-radius: 5%;
            }

            .res-name {
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 5px;
            }
        }
    }
}

.restaurant-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    .menu-items {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}

.about {
    .user-cards-container {
        display: flex;
    }

    .user-card {
        display: flex;
        border: 1px solid lightblue;
        width: 100%;
        padding: 10px;
        margin: 10px;

        .user-logo {
            flex: 1;
            height: 200px;
            border-radius: 50%;
        }

        .user-details {
            flex: 2;
            padding: 10px 20px;
        }
    }
} 
*/